################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/awisk.common/bin
/.vs
/awisk.common/obj
/.claude
/graphify-out
